@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.imagesContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 14px;
}

.imageItem {
  text-align: center;
  margin: 10px;
}

.image {
  width: auto; /* Adjust based on the size of scc.png if known, or choose a fitting size */
  height: auto; /* Maintains the aspect ratio. Could be set to a fixed height if preferred */
  max-width: 100%; /* Ensures the image does not exceed its container's width */
}

.imageDescription {
  margin-top: 8px;
  font-size: 30px;
  color: var(--color-text); /* Assuming you want the text color to match the theme */
}

@media screen and (max-width: 830px) {
  .imagesContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageItem {
    width: 100%; /* Ensures image items span the full width of the container on smaller screens */
  }
  
  .image {
    max-width: 80%; /* Optionally reduce image size on smaller screens */
  }
}
